@font-face {
  font-family: heading-font;
  src: url(./assets/fonts/Alfa_Slab_One/AlfaSlabOne-Regular.ttf);
}

@font-face {
  font-family: primary-font;
  src: url(./assets/fonts/Nunito/static/Nunito-Black.ttf);
}

@font-face {
  font-family: secondary-font;
  src: url(./assets/fonts/Cormorant/Cormorant-VariableFont_wght.ttf);
}

:root {
  --primary-bg: #2e1065;
  --secondary-bg: #4c1d95;
  --accent-bg: #7c3aed;
  --primary-font-clr: #ede9fe;
  --secondary-font-clr: #c4b5fd;
}

.container {
  font-family: heading-font;
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-bg);
  font-family: primary-font;
  color: var(--secondary-font-clr);
  font-size: 0.8rem;
}

.title {
  text-align: center;
  background-color: var(--primary-bg);
  padding: 1rem;
  font-size: 1.5rem;
  color: var(--primary-font-clr);
  box-shadow: 0px 0px 10px 5px #c3b5fd60;
}

.sidebar-form {
  flex: auto;
  z-index: 0;
  overflow: scroll;
  padding: 0.5rem;
  height: 75vh;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 0.5rem;
}

.form-label {
  justify-self: end;
}

.form-group-title,
.sidebar-button {
  grid-column: 1 / -1;
  font-size: 1.1rem;
}

.form-group-title {
  text-align: center;
  padding-top: 0.5rem;
  color: var(--primary-font-clr);
  border-top: 1px solid var(--secondary-font-clr);
}

input {
  font-family: primary-font;
  border-radius: 10px;
  border-color: var(--primary-bg);
  padding: 0.1rem 0.2rem;
  background-color: var(--primary-font-clr);
  color: var(--primary-bg);
}

button {
  font-family: primary-font;
  border-radius: 10px;
  border-color: var(--primary-bg);
  padding: 0.1rem 0.2rem;
  background-color: var(--secondary-font-clr);
  color: var(--primary-bg);
}

button:hover {
  color: var(--accent-bg);
  background-color: var(--primary-bg);
}
